.main__container {
  margin: auto;
  padding-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  width: 60%;
  @media only screen and (max-width: 800px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 90%;
  }
}

.main__window {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
}

button {
  color: #afa7a7;
  width: auto;
  height: 2rem;
  border-radius: 999px;
  border: 1px solid #c5c2c2;
  background-color: transparent;
  cursor: pointer;
}

.footer__buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
  gap: 4rem;

  @media only screen and (max-width: 1000px) {
    justify-content: center;
    gap: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  @media only screen and (max-width: 500px) {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
  }
  &--button {
    width: 8rem;
    @media only screen and (max-width: 500px) {
      width: 6rem;
    }
  }
  &--button:hover {
    background-color: gray;
  }
}

a {
  text-decoration: none;
  color: #afa7a7;
}
